---
http_interactions:
- request:
    method: get
    uri: http://api.ooyala.com/v2/assets?where=asset_type%3D%27channel_set%27&api_key=UzbGs6FeXKl3FztSNitFglJAdblv.Tg3cY&expires=1641056500&signature=WthSoxNnk9toqLuBVhXTusFkNmZvu4CmjqBBU86AeIg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      - 200 OK
      content-type:
      - application/json
      ooyala-server-id:
      - i-83b257fb,i-74e0a20c
      x-ratelimit-credits:
      - '288'
      x-ratelimit-reset:
      - '60'
      ooyala-request-id:
      - e77d6678321c137c394dc7f7bdb8a5be
      x-varnish-ip:
      - 10.251.243.175
      x-varnish-cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"ad_set_id":null,"status":"live","time_restrictions":null,"description":null,"asset_type":"channel_set","hosted_at":null,"embed_code":"M2bDhmMjo-ZrIlkGNNh1YAo168-EsFCU","original_file_name":null,"duration":0,"created_at":"2011-04-29T16:05:35Z","preview_image_url":null,"publishing_rule_id":"cf5237900bdd40038cdb2f3fa9770562","updated_at":"2011-04-29T16:53:50Z","name":"Expeditions
        Channel Set","external_id":null},{"ad_set_id":null,"status":"live","time_restrictions":null,"description":null,"asset_type":"channel_set","hosted_at":null,"embed_code":"9zYmRjMjo9gKl9ZM8wvKlaJxdKm24qZR","original_file_name":null,"duration":0,"created_at":"2011-03-28T17:42:52Z","preview_image_url":null,"publishing_rule_id":"cf5237900bdd40038cdb2f3fa9770562","updated_at":"2011-04-19T17:49:26Z","name":"BrandSite-Testing","external_id":null},{"ad_set_id":null,"status":"live","time_restrictions":null,"description":null,"asset_type":"channel_set","hosted_at":null,"embed_code":"85aTdiMjoYR5K26Fp8TMgGtGQUCEC2Y1","original_file_name":null,"duration":0,"created_at":"2011-03-08T16:54:22Z","preview_image_url":null,"publishing_rule_id":"cf5237900bdd40038cdb2f3fa9770562","updated_at":"2011-05-02T19:00:15Z","name":"Brand
        Site Video Gallery","external_id":null}]}'
  recorded_at: Sat, 01 Jan 2022 17:00:00 GMT
recorded_with: VCR 2.3.0
