---
http_interactions:
- request:
    method: get
    uri: http://api.ooyala.com/v2/assets/M2bDhmMjo-ZrIlkGNNh1YAo168-EsFCU?include=metadata%2Clabels&status=%27live%27&limit=400&expires=1355953927&api_key=UzbGs6FeXKl3FztSNitFglJAdblv.Tg3cY&signature=3MnhtNQxHXnZsmiE6pXvSLy%2Byfq1HlIbbDzxtVFzbCg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      - 200 OK
      content-type:
      - application/json
      ooyala-server-id:
      - i-1e80e064,i-90e3a1e8
      x-ratelimit-credits:
      - '241'
      x-ratelimit-reset:
      - '60'
      ooyala-request-id:
      - 165571bbd649b7b3c91071923283e6df
      x-varnish-ip:
      - 10.28.97.158
      x-varnish-cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"status":"live","external_id":null,"hosted_at":null,"description":null,"ad_set_id":null,"time_restrictions":null,"asset_type":"channel_set","embed_code":"M2bDhmMjo-ZrIlkGNNh1YAo168-EsFCU","original_file_name":null,"preview_image_url":null,"duration":0,"created_at":"2011-04-29T16:05:35Z","labels":[],"name":"Expeditions
        Channel Set","publishing_rule_id":"cf5237900bdd40038cdb2f3fa9770562","updated_at":"2011-04-29T16:53:50Z","metadata":{}}'
  recorded_at: Wed, 19 Dec 2012 21:51:57 GMT
recorded_with: VCR 2.3.0
