---
http_interactions:
- request:
    method: get
    uri: http://api.ooyala.com/v2/assets/M2bDhmMjo-ZrIlkGNNh1YAo168-EsFCU?include=metadata%2Clabels&status=%27live%27&limit=400&expires=1641056410&api_key=UzbGs6FeXKl3FztSNitFglJAdblv.Tg3cY&signature=1irKvutWWQpc1wH%2Fm2P8zxX0q4xyLmpUT4pUEnZ1kUw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      - 200 OK
      content-type:
      - application/json
      ooyala-server-id:
      - i-07a0f87c,i-90e3a1e8
      x-ratelimit-credits:
      - '296'
      x-ratelimit-reset:
      - '60'
      ooyala-request-id:
      - eebc8ffd8ddd9610b6dda595d09d201d
      x-varnish-ip:
      - 10.28.97.158
      x-varnish-cache:
      - HIT
    body:
      encoding: US-ASCII
      string: ! '{"status":"live","external_id":null,"hosted_at":null,"description":null,"ad_set_id":null,"time_restrictions":null,"asset_type":"channel_set","embed_code":"M2bDhmMjo-ZrIlkGNNh1YAo168-EsFCU","original_file_name":null,"preview_image_url":null,"duration":0,"created_at":"2011-04-29T16:05:35Z","labels":[],"name":"Expeditions
        Channel Set","publishing_rule_id":"cf5237900bdd40038cdb2f3fa9770562","updated_at":"2011-04-29T16:53:50Z","metadata":{}}'
  recorded_at: Sat, 01 Jan 2022 17:00:00 GMT
- request:
    method: get
    uri: http://api.ooyala.com/v2/assets/M2bDhmMjo-ZrIlkGNNh1YAo168-EsFCU/lineup?expires=1641056410&api_key=UzbGs6FeXKl3FztSNitFglJAdblv.Tg3cY&signature=4ewqiTNgyG4lq8m3s50qEaWpNtonGHlSelHUrPuQlLc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      - 200 OK
      content-type:
      - application/json
      ooyala-server-id:
      - i-930e1cf5,i-f0e3a188
      x-ratelimit-credits:
      - '283'
      x-ratelimit-reset:
      - '60'
      ooyala-request-id:
      - ab6e480b251e20e559bef6ca9dc28b5c
      x-varnish-ip:
      - 10.28.97.158
      x-varnish-cache:
      - HIT
    body:
      encoding: US-ASCII
      string: ! '["kzbjhmMjrcPl5qxTxTiJkgWno_4GbyJE"]'
  recorded_at: Sat, 01 Jan 2022 17:00:00 GMT
- request:
    method: get
    uri: http://api.ooyala.com/v2/assets?include=metadata%2Clabels&status=%27live%27&limit=400&where=embed_code+IN+%28%27kzbjhmMjrcPl5qxTxTiJkgWno_4GbyJE%27%29&expires=1641056410&api_key=UzbGs6FeXKl3FztSNitFglJAdblv.Tg3cY&signature=Ioe4nGC%2BJfA8YYo0Y7pPMUnrEty4a1hVmZMx8x9g8ew
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      - 200 OK
      content-type:
      - application/json
      ooyala-server-id:
      - i-83b257fb,i-f0e3a188
      x-ratelimit-credits:
      - '298'
      x-ratelimit-reset:
      - '60'
      ooyala-request-id:
      - c775b529ea68fd61e23f594e7e00594c
      x-varnish-ip:
      - 10.251.243.175
      x-varnish-cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"status":"live","external_id":null,"hosted_at":null,"description":"These
        are videos about expeditions. Or trips.","ad_set_id":null,"time_restrictions":null,"asset_type":"channel","embed_code":"kzbjhmMjrcPl5qxTxTiJkgWno_4GbyJE","original_file_name":null,"preview_image_url":"http://cdn.videos.thenorthface.com/F2ZGh1NTrEWW-6eX_8ww7mGsQQhhuQRk/3Gduepif0T1UGY8H5hMDoxOjBrOw-uIx","duration":7376086,"created_at":"2011-04-29T16:17:33Z","labels":[],"name":"Expeditions","publishing_rule_id":"cf5237900bdd40038cdb2f3fa9770562","updated_at":"2012-09-20T16:33:53Z","metadata":{}}]}'
  recorded_at: Sat, 01 Jan 2022 17:00:00 GMT
recorded_with: VCR 2.3.0
